@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900&display=swap');

* {
    box-sizing: border-box;
}

:root {
    --primary-color: #FFFFFF;
    --secondary-color: #000000;
    --accent-color: #006c82;
}

#root {
    width: 100vw;
    max-width: 100vw;
    height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
}

body {
    font-family: Montserrat;
    font-weight: 400;
    font-size: 1rem;
}

#map {
    height: 100vh;
    width: 100%;
}

#controls {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 1000;
    background: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}