@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900&display=swap');

/**
*   =================
*   #### GLOBALS ####
*   =================
*/

* {
    box-sizing: border-box;
}

:root {
    --primary-color: #FFFFFF;
    --secondary-color: #000000;
    --accent-color: #006c82;
}

#root {
    width: 100vw;
    max-width: 100vw;
    height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

body {
    font-family: Montserrat;
    font-weight: 400;
    font-size: 1rem;
    margin: 0;
    padding: 0;
}

/**
*   =============
*   #### MAP ####
*   =============
*/

#map {
    height: 100vh;
    width: 100%;
}

#controls {
    position: absolute;
    max-width: 100%;
    top: 10px;
    left: 10px;
    right: 10px;
    z-index: 1000;
    background: white;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#controls > * {
    margin: 8px 0;
}

[id$="address"] {
    border-radius: 50px;
    margin: 8px 0;
}

.autocomplete-wrapper {
    height: 32px;
}

#controlsTitle {
    text-align: center;
}

#computeRoute {
    background-color: var(--accent-color);
    color: var(--primary-color);
    border-radius: 50px;
    font-size: 1rem;
    text-transform: uppercase;
    border: solid 1px var(--accent-color);
    min-height: 32px;
    min-width: 175px;
}